Django==5.1.4
docx==0.2.4
lxml==4.9.3
pytest==8.3.4
sqlparse==0.5.3
pipenv==2024.4.0
psycopg2-binary==2.9.10
django-debug-toolbar==4.4.6
redis==5.2.1
hiredis==3.1.0
python-docx==1.1.2
gunicorn==23.0.0
python-gettext==5.0
pytest-django==4.9.0
coverage==7.6.10
sentry_sdk==2.19.2
sentry-sdk[django]