<!DOCTYPE html>
<html lang="en-GB">
    <head>
        {% load static %}
        <!-- Load Django static template tag -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create Facture</title>
        <!-- Import Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
              rel="stylesheet" />
        <!-- Import FontAwesome for icons -->
        {% block stylesheets %}
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'deduction/css/create_deduction.css' %}" />
        {% endblock stylesheets %}
        {% block scripts %}
            <script src="{% static 'deduction/js/deductionCalculations.js' %}"></script>
        {% endblock scripts %}
    </head>
    <body>
        <div class="flex min-h-screen">
            <!-- Sidebar -->
            <div class="w-1/6 bg-blue-800 text-white flex flex-col items-center py-8 space-y-8">
                <a href="{% url 'apps.deduction:list' %}"
                   class="flex items-center space-x-4 ">
                    <h2 class="text-2xl font-bold">Dashboard</h2>
                </a>
                <ul class="space-y-6">
                    <li>
                        <a href="{% url 'apps.deduction:create' %}"
                           class="flex items-center space-x-4 hover:bg-blue-600 p-3 rounded-lg">
                            <i class="fas fa-file-invoice-dollar text-xl"></i>
                            <span>Create Deducion</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'apps.deduction:list' %}"
                           class="flex items-center space-x-4 hover:bg-blue-600 p-3 rounded-lg">
                            <i class="fas fa-chart-line text-xl"></i>
                            <span>Return to main menu</span>
                        </a>
                    </li>
                    <li>
                        <form method="post"
                              action="{% url 'apps.users:logout' %}"
                              style="display: inline">
                            {% csrf_token %}
                            <button type="submit"
                                    class="text-left p-3 rounded-lg bg-transparent border-0 hover:bg-blue-600">
                                <i class="fas fa-cogs text-xl"></i>
                                <span>Logout</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div>
                    <img src="{% static 'deduction/images/logo.png' %}"
                         alt="logo"
                         class="top-left-logo" />
                    <table style="width: 554.1pt; padding: 0pt; border-collapse: collapse">
                        <tr style="height: 0.45pt">
                            <table style="width: 308.45pt;
                                          padding: 0pt;
                                          border-collapse: collapse;
                                          margin-left: 25px">
                                <tr style="height: 1.3pt">
                                    <tr class="form-row">
                                        <td class="number-deduction">
                                            <p class="number-text">
                                                <span>NUMERO</span>
                                            </p>
                                            <div class="mb-6">
                                                <div class="mt-2">{{ form.number_deduction }}</div>
                                                {% if form.number_deduction.errors %}
                                                    <div class="text-red-600 text-sm mt-1">
                                                        {% for error in form.number_deduction.errors %}<p>{{ error }}</p>{% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <div id="created-date-container"
                                             data-created-date="{{ form.instance.created_date|date:'Y-m-d' }}"></div>
                                        <td class="created_date">
                                            <p class="label-text">
                                                <span>DATE</span>
                                            </p>
                                            <div class="mt-2">
                                                {{ form.created_date }}  <!-- The date input field is rendered here -->
                                            </div>
                                            {% if form.created_date.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.created_date.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="reference">
                                            <p class="label-text">
                                                <span>IFN</span>
                                            </p>
                                            <div class="mt-2">{{ form.ifn }}</div>
                                            {% if form.ifn.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.ifn.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="supplier">
                                            <p class="label-text">
                                                <span>Supplier</span>
                                            </p>
                                            <div class="mt-2">{{ form.supplier }}</div>
                                            {% if form.supplier.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.supplier.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="nature_of_products">
                                            <p class="label-text">
                                                <span>Nature of products</span>
                                            </p>
                                            <div class="form-wrapper">
                                                <div class="mt-2 form-field">{{ form.nature_of_products }}</div>
                                                {% if form.nature_of_products.errors %}
                                                    <div class="error-messages">
                                                        {% for error in form.nature_of_products.errors %}<p class="break-words">{{ error }}</p>{% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="montant_ttc">
                                            <p class="label-text">
                                                <span>Montant TTC</span>
                                            </p>
                                            <div class="mt-2">{{ form.montant_ttc }}</div>
                                            {% if form.montant_ttc.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.montant_ttc.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="montant_ht">
                                            <p class="label-text">
                                                <span>Montant HT</span>
                                            </p>
                                            <div class="mt-2">{{ form.montant_ht }}</div>
                                            {% if form.montant_ht.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.montant_ht.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="taux_tva">
                                            <p class="label-text">
                                                <span>Taux TVA</span>
                                            </p>
                                            <div class="mt-2">{{ form.taux_tva }}</div>
                                            {% if form.taux_tva.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.taux_tva.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="montant_tva">
                                            <p class="label-text">
                                                <span>Montant TVA</span>
                                            </p>
                                            <div class="mt-2">{{ form.montant_tva }}</div>
                                            {% if form.montant_tva.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.montant_tva.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="prorated_rate">
                                            <p class="label-text">
                                                <span>Prorated Rate</span>
                                            </p>
                                            <div class="mt-2">{{ form.proporated_rate }}</div>
                                            {% if form.prorated_rate.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.prorated_rate.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <div id="date-regulations-container"
                                             data-regulations-date="{{ form.instance.date_regulations|date:'Y-m-d' }}">
                                        </div>
                                        <td class="date_regulations">
                                            <p class="label-text">
                                                <span>Date Regulations</span>
                                            </p>
                                            <div class="mt-2">{{ form.date_regulations }}</div>
                                            {% if form.date_regulations.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.date_regulations.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="payment_choice">
                                            <p class="label-text">
                                                <span>Payment Choice</span>
                                            </p>
                                            <div class="mt-2">{{ form.payment_choice }}</div>
                                            {% if form.payment_choice.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.payment_choice.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="cr">
                                            <p class="label-text">
                                                <span>CR</span>
                                            </p>
                                            <div class="mt-2">{{ form.cr }}</div>
                                            {% if form.cr.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.cr.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="ice">
                                            <p class="label-text">
                                                <span>ICE</span>
                                            </p>
                                            <div class="mt-2">{{ form.ice }}</div>
                                            {% if form.ice.errors %}
                                                <div class="text-red-600 text-sm mt-1">
                                                    {% for error in form.ice.errors %}<p>{{ error }}</p>{% endfor %}
                                                </div>
                                            {% endif %}
                                        </td>
                                    </table>
                                    <div class="centered-container-submit">
                                        <div class="mt-8">
                                            <button type="submit" value="update" class="submit-btn">Submit</button>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <p class="footer-text">
                                            <strong><span class="font-Arial">Système de Paiement</span></strong>
                                        </p>
                                        <p class="footer-normal-text small-font">
                                            <strong><span class="font-Arial">PM Solution SARL</span></strong>
                                            <span class="font-Arial">Rue Soumiya, Residence Shehrazade III, 5EME Etage, N22, Palmier – Casablanca</span>
                                        </p>
                                        <p class="footer-normal-text small-font">
                                            <span class="font-Arial">Tél: 00 212 6 80 00 35 04</span>&nbsp;&nbsp;&nbsp;
                                            <span class="font-Arial">- Rc 362615 Patente 34794459, IF 20693849, ICE 001816862000051</span>
                                        </p>
                                        <p class="footer-normal-text small-font">
                                            <span class="font-Arial">http://pms.ican24.net – e-mail: ican24net@gmail.com</span>
                                        </p>
                                        <p class="footer-normal-text">
                                            <span class="font-Arial">Page 1 sur 1</span>
                                        </p>
                                    </div>
                                </form>
                            </div>
                            {% if form.errors %}
                                <script>
      const errors = [];
      {% for field in form %}
          {% for error in field.errors %}errors.push("{{ field.label }}: {{ error|escapejs }}");{% endfor %}
      {% endfor %}

      // Non-field errors
      {% for error in form.non_field_errors %}errors.push("{{ error|escapejs }}");{% endfor %}

      if (errors.length > 0) {
          alert(errors.join("\n"));
      }
                                </script>
                            {% endif %}
                        </body>
                    </html>
